<a href="https://colab.research.google.com/github/anishbhujbal7/ds_praticals/blob/main/practical3/3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
file_path='/content/drive/MyDrive/colab_datasets/practical_datasets/practical3.1.csv'

In [3]:
import pandas as pd

df=pd.read_csv(file_path)
df.head(10)
df.describe()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
summary = df.groupby('Pclass')['Age'].agg(['mean', 'median', 'min', 'max', 'std'])
print(summary)

             mean  median   min   max        std
Pclass
1       38.233441    37.0  0.92  80.0  14.802856
2       29.877630    29.0  0.67  70.0  14.001077
3       25.140620    24.0  0.42  74.0  12.495398

In [9]:
age_list = df.dropna(subset=['Pclass', 'Age']).groupby('Pclass')['Age'].apply(list).reset_index()
print("\nList of ages for each class:")
print(age_list)

List of ages for each class:
   Pclass                                                Age
0       1  [38.0, 35.0, 54.0, 58.0, 28.0, 19.0, 40.0, 28....
1       2  [14.0, 55.0, 35.0, 34.0, 66.0, 27.0, 3.0, 29.0...
2       3  [22.0, 26.0, 35.0, 2.0, 27.0, 4.0, 20.0, 39.0,...